<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qrio</title>
    <!-- tailwind and daisy -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />

   <link rel="stylesheet" href="css/styles.css">
</head>
<body>
   
    <!-- Header -->
        <header id="header">
          <%- include('_nav') %>
        </header>
    <!-- /Header -->
    <main>