<!-- include header -->
<%- include('partials/_header') %>
<!-- /include header -->
<section class="anouncement">

</section>
<section class="daily_task">
    <div class="subject_info">
        <h2 class="subject_name">Daily To-Do List</h2>
        <ul class="todoList">
            <% for(let i=0; i<todos.length; i++) {%>
                <li >
                    <h2><%= todos[i].todoItem%></h2>
                    <form
                    action="/dashboard/deleteTodos/<%= todos._id %>?_method=DELETE"
                    method="POST"
                    class="col-3"
                  >
                    <button class="btn " type="submit"></button>
                  </form>
                </li>
                <% } %>        
        </ul>     
    </div>
    <div class="add-todos">
        <form action="/dashboard/createTodos" method="POST" >
            <div class="add-todos-l">
                <label for="listItem">Add A Task</label>
                <input type="textarea" id="listItem" name="todoItem" placeholder="Add your task here">
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</section>   
    <br>
</section>
<section class="study_cards-s"> 
    <div class="study_cards">
        <div class="study_info">
            <h3 class="study_name">Study Name: afaf85456</h3>
            <p class="study_desc">this study is to observer the effectiveness of this vaccine on period cramps</p>
            <a href="/subjects"><button class="btnn">Start</button></a>
        </div>
        <div class="study_stat"></a>
            <ul >
                <li>Total Subjects Enrolled : 5 </li>
                <li>Total Subjects Screening: 7</li>
                <li>Total Subjects Screen Failed: 4</li> 
                <li>Total subjects Dropped/Lost to Follow Up: 0 </li>   
            </ul>
        </div>
    </div>
    <div class="study_cards">
        <div class="study_info">
            <h3 class="study_name">Study Name: afaf85456</h3>
            <p class="study_desc">this study is to observer the effectiveness of this vaccine on period cramps</p>
            <a href="/subjects"><button class="btnn">Start</button></a>
        </div>
        <div class="study_stat"></a>
            <ul >
                <li>Total Subjects Enrolled : 5 </li>
                <li>Total Subjects Screening: 7</li>
                <li>Total Subjects Screen Failed: 4</li> 
                <li>Total subjects Dropped/Lost to Follow Up: 0 </li>   
            </ul>
        </div>
    </div>
    <div class="study_cards">
        <div class="study_info">
            <h3 class="study_name">Study Name: afaf85456</h3>
            <p class="study_desc">this study is to observer the effectiveness of this vaccine on period cramps</p>
            <a href="/subjects"><button class="btnn">Start</button></a>
        </div>
        <div class="study_stat"></a>
            <ul >
                <li>Total Subjects Enrolled : 5 </li>
                <li>Total Subjects Screening: 7</li>
                <li>Total Subjects Screen Failed: 4</li> 
                <li>Total subjects Dropped/Lost to Follow Up: 0 </li>   
            </ul>
        </div>
    </div>
    <div class="study_cards">
        <div class="study_info">
            <h3 class="study_name">Study Name: afaf85456</h3>
            <p class="study_desc">this study is to observer the effectiveness of this vaccine on period cramps</p>
            <a href="/subjects"><button class="btnn">Start</button></a>
        </div>
        <div class="study_stat"></a>
            <ul >
                <li>Total Subjects Enrolled : 5 </li>
                <li>Total Subjects Screening: 7</li>
                <li>Total Subjects Screen Failed: 4</li> 
                <li>Total subjects Dropped/Lost to Follow Up: 0 </li>   
            </ul>
        </div>
    </div>
    
</section>
    


<!-- include footer -->
<%- include('partials/_footer') %>
<!-- /include footer -->