<!-- include header -->
<%- include('partials/_header') %>
<!-- /include header -->
<section class="anouncement">

</section>
<section class="daily_task">
    
</section>
<section class="container"> 
    <div class="study_cards">
        <div class="study_info">
            <h3 class="study_name">afaf85456</h3>
            <p class="study_desc">this study is to observer the effectiveness of this vaccine on period cramps</p>
            <a href="/studies"><button class="study_button">Start</></a>
        </div>
        <div class="study_stat"></a>
            <ul >
                <li>Total Subjects Enrolled : 5 </li>
                <li>Total Subjects Screening: 7</li>
                <li>Total Subjects Screen Failed: 4</li> 
                <li>Total subjects Dropped/Lost to Follow Up: 0 </li>   
            </ul>
        </div>
    </div>
</section>
    


<!-- include footer -->
<%- include('partials/_footer') %>
<!-- /include footer -->