<!-- include header -->
<%- include('partials/_header') %>
<!-- /include header -->
<section class="current_study">
    <h2 class="current_study_title">afaf85456</h2>
    <div class="current_study_addNew">
        <a href="/subjects/add-subject" class="current_study_addNew_subject"><button> Add New</button></a>
    </div>
    <div class="current_study_info">
        <ul >
            <li>Principal Investigator : Dr. Important </li>
            <li>Lead Staff : Ashton Sam </li>
            <li>Primary Monitor : Sam John </li>
            <li>Total Subjects Enrolled : 5 </li>
            <li>Total Subjects Screening: 7</li>
            <li>Total Subjects Screen Failed: 4</li> 
            <li>Total subjects Dropped/Lost to Follow Up: 0 </li>   
        </ul>
    </div>
</section>
<section class="current_study_divider">
    <input type="text" placeholder="Search">
    <input type="text" placeholder="filter">
    <input type="text" placeholder="view">
</section>
<section class="current_study_enrolled">
    <h3>Enrolled</h3>
    <div class="current_study_card">
        <div class="current_study_img">
            <img src="" alt="">
        </div>
        <div class="current_study_subject_info">
            <h4>Full Name:</h4>
            <h4>Date of Birth:</h4>
            <h4>Subject ID</h4>
            <h4>Telephone Number</h4>
            <h4>Email Address:</h4>
        </div>
    </div>
</section>
<section class="current_study_screening">
    <h3>Screening</h3>

    <div class="current_study_card">
        <div class="current_study_img">
            <img src="" alt="">
        </div>
        <div class="current_study_subject_info">
            <h4>Full Name:</h4>
            <h4>Date of Birth:</h4>
            <h4>Subject ID</h4>
            <h4>Telephone Number</h4>
            <h4>Email Address:</h4>
        </div>
    </div>
</section>
<section class="current_study_completed"> 
    <h3>COpleted Study</h3>

    <div class="current_study_card">
        <div class="current_study_img">
            <img src="" alt="">
        </div>
        <div class="current_study_subject_info">
            <h4>Full Name:</h4>
            <h4>Date of Birth:</h4>
            <h4>Subject ID</h4>
            <h4>Telephone Number</h4>
            <h4>Email Address:</h4>
        </div>
    </div>
</section>
<section class="current_study_screen_fail">
    <h3>Screen Failed/ Lost to Follow Up</h3>

    <div class="current_study_card">
        <div class="current_study_img">
            <img src="" alt="">
        </div>
        <div class="current_study_subject_info">
            <h4>Full Name:</h4>
            <h4>Date of Birth:</h4>
            <h4>Subject ID</h4>
            <h4>Telephone Number</h4>
            <h4>Email Address:</h4>
        </div>
    </div>
</section>
    


<!-- include footer -->
<%- include('partials/_footer') %>
<!-- /include footer -->