:root{
    --dark: #2b2d42;
    --light: #adb5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: blue;
}


/* ========================================================= */

